[Unit]
Description=NORY privileged TUN socket

[Socket]
ListenStream=/run/nory/helper.sock
SocketMode=0666
DirectoryMode=0755
RemoveOnStop=true

[Install]
WantedBy=sockets.target
